<h3>jQuery Timer Example</h3>
<p>This example shows how the plugin can be used to control a timer. By default, the timer will execute 
every second.</p>
<input type="button" name="start" value="Start Example"/>
<input type="button" name="stop" value="Stop Example"/>
<input type="button" name="pause" value="Pause Example"/>
<input type="button" name="resume" value="Resume Example"/>
<input type="button" name="reset" value="Reset Example"/>

<div id="console">
	<div id="flipcountdownbox1"></div>
</div>

